<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.streetflo.miocat.dao.rest.MemberDao">

    <!-- 회원 가입 -->
    <insert id="join" parameterType="MemberDto">
        INSERT INTO TBL_MEMBER(
            ID,
            EMAIL,
            PICTURE,
            USER_TYPE
        )
        VALUES (
            #{id},
            #{email},
            #{picture},
            #{userType}
        )
    </insert>

    <!-- 회원 로그인 -->
    <select id="login" parameterType="String" resultType="MemberDto">

    </select>

    <!-- 회원 가입 여부 체크 -->
    <select id="idCheck" parameterType="String" resultType="String">

    </select>

    <!-- 회원 정보 조회 -->
    <select id="getInfo" parameterType="String" resultType="MemberDto">

    </select>

    <!-- 회원 정보 수정 -->
    <update id="update" parameterType="MemberDto">

    </update>


    <!-- 회원 정보 삭제 -->
    <update id="delete" parameterType="String">

    </update>


</mapper>