<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.streetflo.mapper.rest.member">

    <!-- 회원 로그인 -->
    <select id="login" parameterType="String" resultType="MemberDto">

    </select>

    <!-- 회원 가입 여부 체크 -->
    <select id="idCheck" parameterType="String" resultType="String">
        SELECT(
            MEM_NAME
        )
        FROM MEMBER
        WHERE UNIQUE_IDENTIFIER = #{uniqueId}
    </select>

    <!-- 회원 정보 조회 -->
    <select id="getInfo" resultType="MemberDto">
        SELECT(
            MEM_NAME,
            UNIQUE_IDENTIFIER,
            PLATFORM,
            MAIL_ADDRESS,
            PROFILE_CONTENT,
            MEMBER_CLASS
        )
        FROM MEMBER
        WHERE UNIQUE_IDENTIFIER = #{uniqueId}
    </select>

    <!-- 회원 정보 수정 -->
    <update id="setInfo" parameterType="MemberDto">
        UPDATE MEMBER
        SET
        MEM_NAME = #{id},
        PROFILE_CONTENT = #{picture}
        WHERE UNIQUE_IDENTIFIER = #{uniqueIdentifier}
    </update>


    <!-- 회원 정보 삭제 -->
    <update id="delete" parameterType="String">

    </update>

    <insert id="join" parameterType="MemberDto">
        INSERT into MEMBER(
            MEM_NAME,
            UNIQUE_IDENTIFIER,
            PLATFORM,
            MAIL_ADDRESS,
            PROFILE_CONTENT,
            MEMBER_CLASS
        ) VALUES (
            #{id},
            #{uniqueIdentifier},
            #{platform},
            #{email},
            #{picture},
            #{memType}
        )
    </insert>


</mapper>