{{>layout/header}}

<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v10.0&appId=205236581369717&autoLogAppEvents=1" nonce="MJQyx6Hw"></script>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            {{#userName}}
                Logged in as: <span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
                <a href="/oauth2/authorization/kakao" class="btn btn-warning active" role="button">Kakao Login</a>

                 <a href="/oauth2/authorization/facebook" class="btn btn-primary active" role="button">Facebook Login</a>
            {{/userName}}
    </div>
    <br>
    <!-- 목록 출력 영역 -->

</div>

{{>layout/footer}}